.search{
    display: flex;
    gap: 20px;
    justify-content: center;
}

input{
    padding: 10px 20px;
}

#submit{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    box-shadow: 2px 5px 15px black;
}